<div class="nav main-menu">
  <div class="container">
    <div class="d-flex">
      <!-- This shouldn't show on homepage, but everywhere else it should -->
      <div class="nav--logo">
        <a href="/"><img src="/assets/ahs_negre.svg" alt=""></a>
      </div>
      <div class="menus-block d-flex">
        <div class="secondary-menu">
          <ul>
            <li>9433444</li>
            <li><a href="">Trabaja con nosotros</a></li>
            <li><a href="">Preguntas frecuentes</a></li>
          </ul>
        </div>
        <div class="primary-menu">
          <div class="mobile-button">
            <span></span>
          </div>
          <ul>
            <li class="menu-item menu-item"><a href="/reforma-cocina">Reforma cocina</a></li>
            <li class="menu-item"><a href="/">Reforma baño</a></li>
            <li class="menu-item"><a href="/">Reforma integral</a></li>
            <li class="menu-item"><a href="/">Otras reformas</a></li>
          </ul>
        </div>
        
      </div>
      <div class="presu btn">
          <a href="">Pide presupuesto</a>
        </div>
     
    </div>
  </div>
</div>
