#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  padding-bottom: 20px;
}
#header .nav-mobile {
  display: none;
  position: relative;
  width: 40px;
  margin-right: 10px;
  text-align: right;
}
#header .nav-mobile span {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #000;
}
#header .nav-mobile span:nth-child(2) {
  width: 35px;
  top: 5px;
}
#header.sticky {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background-color: #fff;
}
#header.sticky .secondary-menu {
  display: none;
}
#header.sticky .nav.main-menu {
  padding-top: 20px;
}
#header.sticky .nav.main-menu .primary-menu, #header.sticky .nav.main-menu .presu {
  margin-bottom: auto;
}
#header .nav.main-menu {
  padding-top: 35px;
}
#header .nav.main-menu * {
  font-size: 16px;
}
#header .nav.main-menu .secondary-menu ul, #header .nav.main-menu .primary-menu ul {
  display: flex;
}
#header .nav.main-menu .secondary-menu {
  padding-bottom: 20px;
}
#header .nav.main-menu .secondary-menu ul li {
  margin: 0 15px;
}
#header .nav.main-menu .primary-menu {
  margin-top: auto;
}
#header .nav.main-menu .primary-menu ul li {
  margin: 0 18px;
}
#header .nav.main-menu .primary-menu ul li a {
  text-transform: uppercase;
  font-family: "albert-medium";
}
#header .nav.main-menu .primary-menu ul li a:hover {
  border-bottom: 1px solid #000;
}
#header .nav.main-menu .menus-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 40px;
}
#header .nav.main-menu .presu {
  margin-top: auto;
}

.btn a {
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: inline-block;
  font-family: "albert-medium";
}
.btn a:hover {
  background-color: #606060;
  transition: all 0.3s;
}

#footer {
  background-color: #000;
  position: relative;
}
#footer:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 280px solid #fff;
  border-right: 100px solid transparent;
  left: calc((100% - 1350px) / 2);
  top: 0;
  position: absolute;
}
#footer:after {
  content: "";
  height: 250px;
  width: calc((100% - 1350px) / 2);
  left: 0;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
#footer * {
  color: #fff;
}
#footer .info-footer {
  padding: 50px 50px 50px 600px;
}
#footer .container {
  background: url("../assets/ahs_logo_footer.svg") no-repeat top -1px left 80px;
}
#footer .main-menu ul li {
  margin: 10px 0;
}
#footer .menus, #footer .info {
  flex: 1;
}

.front-page {
  background: url("../assets/image-header.png") no-repeat;
  background-position: left calc((100% + 1000px) / 2) top;
}
.front-page .intro-home {
  position: relative;
}
.front-page .intro-home .bg-image {
  height: 1000px;
  position: absolute;
  z-index: 0;
  width: 100%;
}
.front-page .intro-home .bg-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.front-page .intro-home .content-intro {
  position: relative;
  z-index: 2;
  padding-top: 290px;
}
.front-page .intro-home .content-intro h1 {
  padding-bottom: 30px;
}
.front-page .intro-home .content-intro .btn {
  margin-top: 50px;
}
.front-page .intro-home .content-intro .container .col {
  max-width: 50%;
}
.front-page .intro-home .shortcuts {
  margin-top: 180px;
  padding-bottom: 100px;
}
.front-page .intro-home .shortcuts .item {
  display: flex;
  flex-direction: column;
}
.front-page .intro-home .shortcuts .item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  padding: 15px;
  border-radius: 40px;
  background-color: #000;
  margin-bottom: 20px;
}
.front-page .intro-home .shortcuts .item .icon img {
  max-width: 60px;
}
.front-page .intro-home .shortcuts .item h2 {
  font-family: "albert-semibold";
  font-size: 30px;
  max-width: 140px;
  line-height: 35px;
}
.front-page .intro-home .shortcuts .item .content {
  padding-top: 15px;
  padding-bottom: 20px;
  max-width: 230px;
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 991px) {
  .front-page {
    background-position: top left 60px;
    background-size: 400px 400px;
  }
  .front-page .intro-home .shortcuts {
    margin-top: 60px;
  }
  .front-page .intro-home .shortcuts .item .content {
    max-width: 100%;
  }
  .front-page .intro-home .content-intro {
    padding-top: 180px;
  }
  .front-page .intro-home .content-intro h1 {
    font-size: 40px;
  }
  #header .d-flex {
    justify-content: space-between;
  }
  #header .nav.main-menu .menus-block, #header .presu {
    display: none;
  }
  #header .nav-mobile {
    display: block;
  }
  #header .nav--logo {
    width: 150px;
  }
  #header .nav--logo img {
    max-width: 100%;
  }
  #footer:after, #footer:before {
    display: none;
  }
  #footer .info-footer {
    padding: 0;
  }
  #footer .container {
    background-position: left 20px top -20px !important;
    background-size: 150px 150px;
  }
  #footer .container .menus {
    padding-top: 100px;
  }
}

/*# sourceMappingURL=global.css.map */
