<footer id="footer">

  <div class="container">
    <div class="info-footer d-flex">
      <div class="menus">
        <div class="main-menu">
          <ul>
            <li>REFORMA BAÑO</li>
            <li>REFORMA BAÑO</li>
            <li>fefefe</li>
          </ul>
        </div>
        <div>
          <ul>
            <li>efefe</li>
            <li>dwdwdw</li>
            <li>fefefe</li>
          </ul>
        </div>
      </div>
      <div class="info">
        Dirección 08301 Mataró Barcelona Tel. +34 93 271 51 12 Horario de atención al cliente: de lunes a viernes de 10 a 14 y de 17 a 19h
      </div>
    </div>
  </div>
</footer>
