<div class="intro-service">
  <div class="container">
    <div class="d-flex">
      <div class="content-service">
        <h1>Reforma de cocina</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt, risus eget pharetra cursus, leo tellus vulputate mi, consectetur euismod dui urna a nunc. Duis vitae felis vel nisl dignissim euismod. Quisque ultrices cursus nisi, et congue lacus cursus at. Nunc a suscipit orci. Maecenas fermentum ex mauris, ac sollicitudin ante porta a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut eleifend nibh. Maecenas quis erat in magna.</p>
      </div>
      <div class="image-service">
        <img src="../assets/service-intro.jpg" alt="">
      </div>
    </div>
  </div>
</div>