<div class="process">
  <div class="container">
    <div class="title-process">
        <h2>Nuestro proceso</h2>
    </div>
    <div class="owl-carousel">
      <div class="slide-wrapper">
        <div class="content">
          <h3>PASO 1 DE LA REFORMA LOREM IPSUM</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
        </div>
      </div>
      <div class="slide-wrapper">
        <div class="content">
          <h3>PASO 1 DE LA REFORMA LOREM IPSUM</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
        </div>
      </div>
      <div class="slide-wrapper">
        <div class="content">
          <h3>PASO 1 DE LA REFORMA LOREM IPSUM</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
        </div>
      </div>
      <div class="slide-wrapper">
        <div class="content">
          <h3>PASO 1 DE LA REFORMA LOREM IPSUM</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
        </div>
      </div>
      <div class="slide-wrapper">
        <div class="content">
          <h3>PASO 1 DE LA REFORMA LOREM IPSUM</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>