<div class="slider-stats">
  <div class="slider-projects slider-custom">
    <div class="item" style="background-image:url(../assets/cocina-slider.jpg)">
      <div class="content">   
        <div class="container">
          <h3>Inspírate con otros proyectos realizados</h3>
          <div class="btn">
            <a href="">Reforma de cocina</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(../assets/cocina-slider.jpg)">
      <div class="content">   
        <div class="container">
          <h3>Inspírate con otros proyectos realizados</h3>
          <div class="btn">
            <a href="">Reforma de cocina</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stats">
    <div class="container">
      <h2>Compromitidos con nuestro trabajo</h2>
      <div class="d-flex equal sb">
        <div>
          <h3>+200</h3>
          <p>Reformas inntegrales</p>
        </div>
        <div>
          <h3>+200</h3>
          <p>Reformas inntegrales</p>
        </div>
        <div>
          <h3>+200</h3>
          <p>Reformas inntegrales</p>
        </div>
      </div>
    </div>
  </div>
</div>
