<div class="slider-multimedia">
  <div class="slider-multimedia slider-custom">
    <div class="item" style="background-image:url(../assets/slider-multimedia.jpg)">
      <div class="content">
        <div class="container">
          <h3>Texto slider multimedia</h3>
          <p>dedwdwdwwd</p>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(../assets/slider-multimedia.jpg)">
      <div class="content">
        <div class="container">
          <h3>Texto slider multimedia</h3>
          <p>dedwdwdwwd</p>
        </div>
      </div>
    </div>
  </div>
</div>