<div class="slider-multimedia">
  <div class="slider">
    <div class="item" style="background-image:url(../assets/slider-multimedia.jpg)">
      <h3>Texto slider multimedia</h3>
      <p>dedwdwdwwd</p>
    </div>
  </div>
</div>